@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    text-align: center;
    background-color: #F3DF5A;
}

h1{
  display: grid;
  justify-content: end;
  align-content: end;
}

.container {
    background: #F3DF5A;
    display: grid;
    border: 5px solid #F3DF5A; 
    text-align: center;
  }
  
  .grid {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    padding: 10px;
    grid-template-columns: repeat(5 , 19%);
    grid-template-rows: repeat(6, 200px);

  }

  .cell {
    justify-content: center;
    align-items: center;
    display: grid;
    
    font-size: 2rem;
    font-weight: bold;
    background: white;
    border: purple solid 5px; 
  }

  .letter{
    font-size: 10rem;
    justify-content: center;
    align-content: center;
  }

  button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  button:hover{
    background-color: rgb(26, 75, 50);
    color: white;
  }